[Desktop Entry]
Name=OneDrive
Comment=Montar OneDrive con rclone y mostrar indicador
Exec=montar_onedrive.sh
Icon=onedrive.png
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=false
